h1,
h2,
h3,
h4,
p,
a,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack, Arial;
    font-size: $line-height;
    font-weight: 300;
    color: $white;
    text-transform: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visualy-hidden,
input[type="radio"].visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}