// $default-font: "roboto-example", sans-serif
// $accent: orange
// $text: #333


// Fonts
$font-stack: Svyaznoy Sans, sans-serif;
// Color 
$line-height: 14px;
$gray-serif: #a3a3a3;
$blue: #489aff;
$dark-blue: #486efc;
$yellow: #fffc05;
$white: #ffffff;
$light-gray: #f7f7f7;
$dark-gray: #262626;
$black: #1f1f1f;
//



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;