@import "vars";
@import "libs";
@import "common";
.main-header {
    background-color: $black;
    .select-city,
    .cooperation {
        min-height: 50px;
        display: flex;
        .select-text {
            min-height: 18px;
            margin: auto 0;
        }
        .select-text:first-child {
            margin-right: 7px;
        }
        .select-text:last-child {
            color: $blue;
        }
        .select-link {
            text-decoration: none;
        }
    }
    .select-city {
        .select-text:last-child {
            border-bottom: 1px dotted $blue;
        }
    }
    .cooperation {
        justify-content: flex-end;
        .select-text {
            font-size: 12px;
            text-align: left;
        }
    }
}

.header-wrapper {
    background-image: url(/img/header/background-header.png);
    background-repeat: no-repeat;
    padding-bottom: 80px;
    .page-navigation {
        .navigation-container {
            padding-top: 25px;
        }
        min-height: 95px;
        border-bottom: 1px solid #595b5d;
        .header-logo-img {
            width: 200px;
            height: 33px;
        }
        .site-navigation {
            // display: flex;
            justify-content: flex-end;
            &__item {
                margin: auto 0 auto 30px;
                color: $white;
                &--link {
                    color: $white;
                }
            }
            &__item:first-of-type {
                margin-left: 0;
            }
            &__item:last-child {
                margin-left: 35px;
            }
        }
        .site-navigation>a {
            padding: 20px 55px;
            border-radius: 5px;
            text-decoration: none;
            &:hover,
            &:active {
                background-color: $blue;
                transition: 0.1s;
            }
        }
    }
    .block-offer {
        min-height: 300px;
    }
    .header-title {
        font-size: 52px;
        letter-spacing: 4px;
        line-height: 70px;
        font-weight: 500;
    }
    .service-menu {
        padding-bottom: 40px;
        border-radius: 5px;
        background-color: $dark-gray;
        .service-list {
            // display: flex;
            // justify-content: flex-start;
            // flex-wrap: wrap;
            .service-item {
                flex-grow: 1;
                padding: 23px 10px;
                text-align: center;
                cursor: pointer;
                &:first-child:hover {
                    border-top-left-radius: 5px;
                }
                &:last-child:hover {
                    border-top-right-radius: 5px;
                }
                &:hover {
                    background-color: $blue;
                    transition: 0.1s;
                }
                .number-applications {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    padding: 5px 0 0 0;
                    margin-left: 20px;
                    border-radius: 15px;
                    background-color: $blue;
                }
            }
        }
        .service-page {
            .service-title {
                padding: 25px 25px 25px 50px;
                border-bottom: 1px solid #3b3b3b;
                font-size: 24px;
                line-height: 24px;
                font-weight: 300px;
            }
            .service-text {
                padding: 25px 0 0 50px;
                color: $gray-serif;
            }
            .service-form {
                // display: flex;
                // justify-content: flex-start;
                // flex-wrap: wrap;
                margin-left: 50px;
            }
            .service-select {
                width: 120px;
                margin: 25px 35px 0 0;
                padding: 15px 0 15px 15px;
                background-color: $black;
                border: none;
                border-radius: 5px;
                color: $white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url(/img/icon-arrow.png);
                background-repeat: no-repeat;
                background-position: 100px 23px;
            }
            .service-button {
                display: block;
                width: 220px;
                margin: 25px 50px 0 0;
                padding: 15px 0 15px 0px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                text-align: center;
                background-color: $black;
                color: $white;
                &:hover,
                &:active,
                &:focus {
                    background-color: $blue;
                    transition: 0.1s;
                }
            }
        }
    }
}

// MAIN
.search-service {
    padding-bottom: 70px;
    position: relative;
    background-color: $light-gray;
    color: $black;
    .item-link {
        text-decoration: none;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: 1;
    }
    &::before {
        bottom: -100px;
        left: 0px;
        width: 265px;
        height: 405px;
        background-image: url(/img/flying-candles-1.png);
    }
    &::after {
        top: 120px;
        right: 0px;
        width: 307px;
        height: 285px;
        background-image: url(/img/flying-candles-2.png);
    }
    .search-title {
        padding: 40px 0 5px;
        text-align: center;
        font-size: 36px;
        line-height: 36px;
    }
    .search-text {
        text-align: center;
        color: $gray-serif;
    }
    .search-item {
        display: flex;
        flex-direction: column;
        width: 255px;
        min-height: 175px;
        margin-top: 90px;
        background-color: $white;
        .item-link {
            text-align: center;
            .item-picture {
                margin-top: -30px;
                text-align: center;
            }
            .item-paragraph {
                padding-top: 35px;
                font-weight: bold;
                color: $black;
            }
            .item-number {
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                margin-bottom: 25px;
            }
            &:hover,
            &:active,
            &:focus {
                opacity: 0.4;
                transition: 0.1s;
            }
        }
    }
    .wrapper-button {
        margin-top: 55px;
    }
    .search-button {
        width: 245px;
        height: 60px;
        border: none;
        cursor: pointer;
        background-color: $white;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:hover,
        &:active,
        &:focus {
            background-color: $blue;
            color: $white;
            transition: 0.1s;
        }
    }
}

.shops-wrapper {
    background-color: $dark-gray;
    background-image: url(/img/background-content.png);
    .shops {
        .shops-title {
            padding-top: 100px;
            font-weight: normal;
            font-size: 36px;
            letter-spacing: 2px;
            line-height: 40px
        }
        .shops-text {
            color: $gray-serif;
            margin-bottom: 70px;
        }
        .shops-button {
            position: relative;
            width: 345px;
            height: 70px;
            margin-bottom: 25px;
            border: 1px solid #4f4f4f;
            border-radius: 5px;
            cursor: pointer;
            color: $white;
            background-color: transparent;
            &:hover,
            &:active,
            &:focus {
                border: 1px solid $blue;
                background-color: $blue;
                transition: 0.1s;
            }
        }
        .car,
        .moto,
        .spec {
            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -25px;
                width: 95px;
                height: 57px;
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
        .car {
            &::before {
                background-image: url(/img/min-car.png);
            }
        }
        .moto {
            &::before {
                background-image: url(/img/min-moto.png);
            }
        }
        .spec {
            &::before {
                background-image: url(/img/min-spec.png);
            }
        }
        .shops-list {
            margin-top: 45px;
        }
        .shop {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 255px;
            min-height: 380px;
            margin-bottom: 90px;
            background-color: $white;
            border-radius: 5px; // border: 2px solid $white;
            &:hover,
            &:active,
            &:focus {
                // border: 2px solid $blue;
                // background-color: $light-gray;
                // transition: 0.1s;
                opacity: 0.8;
                transition: 0.3s;
            }
            .shop-link {
                margin-bottom: 30px;
                text-align: center;
                text-decoration: none;
            }
            .shop-url {
                margin: 55px 0 30px;
                font-size: 18px;
                font-weight: 700;
                color: $black;
            }
            .shop-stars {
                margin-bottom: 20px;
            }
            .shop-address {
                margin-bottom: 30px;
                color: $black;
            }
            .shop-reviews {
                margin-bottom: 30px;
                font-size: 12px;
            }
        }
    }
    .shops-advantages {
        .advantages-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        .advantages-text {
            margin-bottom: 70px;
        }
    }
    .advantages-link {
        .advantages-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        .advantages-app {
            display: flex;
            margin-bottom: 25px;
            .advantages-button {
                display: flex;
                position: relative;
                flex-grow: 1;
                padding: 15px 5px 15px 45px;
                border-radius: 5px;
                background-color: #2b2d32;
                color: $white;
                &:first-child {
                    margin-right: 10px;
                }
                .advantages-inner {
                    &__app::before,
                    &__goog::before {
                        content: "";
                        position: absolute;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                    }
                    &__app::before {
                        top: 12px;
                        left: 10px;
                        width: 22px;
                        height: 25px;
                        background-image: url(/img/icon-app.png);
                    }
                    &__goog::before {
                        top: 14px;
                        left: 13px;
                        width: 20px;
                        height: 24px;
                        background-image: url(/img/icon-goog.png);
                    }
                }
            }
        }
    }
}

.request {
    text-align: center;
    background-color: $light-gray;
    .request-title {
        padding-top: 75px;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 40px;
        color: $black;
    }
    .request-text {
        color: $gray-serif;
        margin-bottom: 70px;
    }
    &__fly-car {
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            z-index: 1;
        }
        &::before {
            top: 260px;
            left: -157px;
            width: 366px;
            height: 226px;
            background-image: url(/img/flying-car-1.png);
        }
        &::after {
            top: 270px;
            right: -220px;
            width: 455px;
            height: 196px;
            background-image: url(/img/flying-car-2.png);
        }
    }
    .request-item {
        min-height: 390px;
        border: 1px solid #e8e8e8;
        &:first-child {
            border-right: none;
        }
        &:last-child {
            border-left: none;
        }
        &:hover,
        &:active,
        &:focus {
            background-color: $white;
            transition: 0.1s;
        }
        &__option {
            padding-bottom: 15px;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            color: $black;
        }
        &__explanation {
            color: $gray-serif;
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            margin: 60px auto 50px;
            border-radius: 5px;
            background-color: $white;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            position: relative; // &::before {
            //     content: "";
            //     position: absolute;
            //     background-repeat: no-repeat;
            //     background-color: $blue;
            //     width: 40px;
            //     height: 40px;
            //     top: -20px;
            //     right: -20px;
            //     border-radius: 20px;
            // }
        }
        .list-link {
            text-decoration: none;
        }
    }
    .request-button {
        width: 220px;
        height: 60px;
        margin: 70px 0;
        border: 1px solid $blue;
        border-radius: 5px;
        cursor: pointer;
        background-color: $blue;
        color: $white;
        &:hover,
        &:active,
        &:focus {
            background-color: $dark-blue;
            transition: 0.1s;
        }
    }
}

.news {
    &__title {
        position: relative;
        margin: 75px 0 10px;
        font-size: 36px;
        line-height: 38px;
        color: $black;
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            top: 13px;
            left: 255px;
            width: 16px;
            height: 17px;
            background-image: url(/img/icon-wi-fi.png);
        }
    }
    &__text {
        margin-bottom: 60px;
        color: $gray-serif;
    }
    &__wrap {
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        display: block;
        position: relative;
        margin-top: 90px;
        padding: 10px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: $blue;
            width: 5px;
            height: 1px;
            right: 0px;
        }
        &::before {
            top: 19px;
            transform: rotate(45deg);
        }
        &::after {
            top: 22px;
            transform: rotate(-45deg);
        }
    }
}

.news-list {
    .news-main,
    .news-common {
        min-height: 300px; // margin-bottom: 30px;
    }
    .news-item {
        margin-bottom: 30px;
        .news-background {
            min-height: 300px;
            &__country {
                background-image: url(/img/news/news-0.png);
                background-repeat: no-repeat;
                height: 100%;
                width: auto;
            }
            &__company {
                background-image: url(/img/news/news-1.png);
                background-repeat: no-repeat;
                height: 100%;
                width: auto;
            }
            &__events {
                background-image: url(/img/news/news-2.png);
                background-repeat: no-repeat;
                height: 100%;
                width: auto;
            }
        }
    }
    .news-link {
        text-decoration: none;
        .news-picture {
            width: 255px;
            color: $white;
            &__sale {
                width: 100%;
                min-height: 300px;
            }
        }
    }
    .wrapper-main,
    .wrapper-common {
        padding-bottom: 10px;
        font-size: 10px;
        .data-review {
            padding-left: 25px;
        }
        .data-comments {
            padding-left: 40px;
        }
        .data-date {
            padding-left: 20px;
        }
    }
    .news-main {
        .news-link {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 280px;
            margin-left: 20px;
            &:hover,
            &:active,
            &:focus {
                text-decoration: underline $white;
            }
        }
        .news-title {
            margin-bottom: 20px;
            padding-right: 50px;
            font-size: 18px;
            font-weight: 500;
            color: $white;
        }
        .news-text {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 22px;
            color: $gray-serif;
            padding-right: 30px;
        }
        .wrapper-main {
            color: $white;
            .data-review {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 16px;
                    height: 9px;
                    top: 1px;
                    left: 5px;
                    background-image: url(/img/news/news-icon-eye.png);
                }
            }
            .data-comments {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 17px;
                    height: 15px;
                    top: 0px;
                    left: 13px;
                    background-image: url(/img/news/news-icon-mess.png);
                }
            }
        }
    }
    .news-common {
        .news-link {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            &:hover,
            &:active,
            &:focus {
                text-decoration: underline $black;
                transition: 0.2s;
            }
        }
        .news-subtitle {
            font-size: 18px;
            color: $black;
            font-weight: normal;
        }
        .wrapper-common {
            color: $black;
            .data-review {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 16px;
                    height: 9px;
                    top: 1px;
                    left: 5px;
                    background-image: url(/img/news/news-icon-eye-black.png);
                }
            }
            .data-comments {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 17px;
                    height: 15px;
                    top: 0px;
                    left: 13px;
                    background-image: url(/img/news/news-icon-mess-black.png);
                }
            }
        }
    }
}

.subscription {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: $light-gray;
    .subscription-title {
        margin: 70px 0 5px 70px;
        font-size: 30px;
        line-height: 32px;
        color: $black;
    }
    .subscription-text {
        margin-left: 70px;
        color: $gray-serif;
    }
    .subscription-form {
        display: flex;
        justify-content: flex-start;
        margin: 70px 20px 40px 20px;
        &__text {
            width: 300px;
            height: 60px;
            padding-left: 20px;
            cursor: pointer;
            background-color: $white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 1px solid $white;
            &::placeholder {
                color: $gray-serif;
            }
        }
        &__button {
            width: 220px;
            height: 60px;
            cursor: pointer;
            background-color: $blue;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px solid $blue;
            color: $white;
            &:hover,
            &:active,
            &:focus {
                background-color: $dark-blue;
                transition: 0.1s;
            }
        }
    }
}

.main-footer {
    background-color: $dark-gray;
    .footer-wrapper {
        margin-bottom: 90px;
    }
    .footer-logo,
    .list-title {
        margin-top: 40px;
        font-size: 16px;
    }
    .footer-text {
        padding: 10px 0;
        color: $gray-serif;
    }
    .list-title {
        font-size: 16px;
        line-height: 36px;
    }
    .list-item {
        padding: 10px 0;
        &__link {
            color: $gray-serif;
            &:hover,
            &:active,
            &:focus {
                color: $white;
                transition: 0.1s;
            }
        }
    }
    .footer-support {
        margin-top: 40px;
        font-size: 16px;
        line-height: 28px;
        .support-link {
            font-size: 14px;
            text-decoration: none;
        }
    }
    .cooperation {
        background-color: $black;
        .cooperation-text {
            padding: 15px 0 15px;
            color: $gray-serif;
        }
        .social-wrapper {
            display: flex;
            align-items: center;
        }
        .social-list {
            width: 150px;
            display: flex;
            justify-content: space-between;
            .social-item {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: $dark-gray;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .social-list {
        margin-bottom: 20px;
    }
    .subscription {
        .subscription-form {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 992px) {
    .request {
        .request-item {
            min-height: 240px;
            &:first-child {
                border-right: 1px solid #e8e8e8;
            }
            &:last-child {
                border-left: 1px solid #e8e8e8;
            }
            &__inner {
                margin: 30px auto 20px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header-wrapper {
        background-repeat: repeat;
        .block-offer {
            min-height: 200px;
            .header-title {
                font-size: 36px;
                letter-spacing: 2px;
                line-height: 36px;
                font-weight: 500;
            }
        }
        .page-navigation {
            .site-navigation {
                justify-content: center;
                &__item {
                    margin: 10px;
                }
            }
        }
        .line-break {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1500px)
/* Desktop */

/* до 1201 */

    {
    .search-service {
        &::before,
        &::after {
            width: 0;
            height: 0;
        }
    }
    .request {
        &::before,
        &::after {
            width: 0;
            height: 0;
        }
        &__fly-car {
            &::before,
            &::after {
                width: 0;
                height: 0;
            }
        }
    }
}